<nav class="main-nav">
  <a class="main-nav-logo" routerLink="/">
    <img
      class="main-nav-logo-image"
      src="assets/img/argentBankLogo.png"
      alt="Argent Bank Logo"
    />
    <h1 class="sr-only">Argent Bank</h1>
  </a>
    <div *ngIf="isAuthenticated">
      <a class="main-nav-item" routerLink="./user">
        <i class="fa fa-user-circle"></i>
        {{user?.firstName}}
      </a>
      <a class="main-nav-item pointeur" (click)="logout()">
        <i class="fa fa-sign-out"></i>
        Sign Out
      </a>
    </div>
    <div *ngIf="!isAuthenticated">
      <a class="main-nav-item" routerLink="/sign-in">
        <i class="fa fa-user-circle"></i>
        Sign In
      </a>
    </div>
</nav>